<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bs.service.modules.sc.tablereference.ITableReferenceDao">
	<!--
		<include refid="tableReference_select"/>
		<include refid="tableReference_select_count"/>
		<include refid="tableReference_select_distinct"/>
		<include refid="tableReference_select_fields"/>
		<include refid="tableReference_form"/>
		<include refid="tableReference_where"/>
		<include refid="tableReference_inner_all"/>
		<include refid="tableReference_left_all"/>
		<include refid="tableReference_where"/>
		<include refid="tableReference_where_id"/>
		<include refid="tableReference_where_reference_id"/>
		<include refid="tableReference_order"/>
		<include refid="tableReference_group"/>
		<include refid="tableReference_limit"/>
		<include refid="tableReference_update"/>
		<include refid="tableReference_update_set"/>
		<include refid="tableReference_update_set_null"/>
		<include refid="tableReference_insert"/>
		<include refid="tableReference_delete"/>
		###########################################
		### **where criteria example**
		###########################################
		<if test="id != null and id != ''">and _tableReference.id=#{id,jdbcType=BIGINT}</if>
		<if test="objectId != null and objectId != ''">and _tableReference.object_id=#{objectId,jdbcType=VARCHAR}</if>
		<if test="code != null and code != ''">and _tableReference.code=#{code,jdbcType=VARCHAR}</if>
		<if test="name != null and name != ''">and _tableReference.name=#{name,jdbcType=VARCHAR}</if>
		<if test="parentTableId != null and parentTableId != ''">and _tableReference.parent_table_id=#{parentTableId,jdbcType=BIGINT}</if>
		<if test="childTableId != null and childTableId != ''">and _tableReference.child_table_id=#{childTableId,jdbcType=BIGINT}</if>
		<if test="implType != null and implType != ''">and _tableReference.impl_type=#{implType,jdbcType=VARCHAR}</if>
		<if test="creationDate != null and creationDate != ''">and _tableReference.creation_date=#{creationDate,jdbcType=BIGINT}</if>
		<if test="modificationDate != null and modificationDate != ''">and _tableReference.modification_date=#{modificationDate,jdbcType=BIGINT}</if>
		<if test="version != null and version != ''">and _tableReference.version=#{version,jdbcType=BIGINT}</if>
		<if test="createTime != null and createTime != ''">and _tableReference.create_time=#{createTime,jdbcType=DATETIME}</if>
		<if test="modifyTime != null and modifyTime != ''">and _tableReference.modify_time=#{modifyTime,jdbcType=DATETIME}</if>
		<if test="comment != null and comment != ''">and _tableReference.comment=#{comment,jdbcType=VARCHAR}</if>
		###########################################
		### **update where criteria example**
		###########################################
		<if test="id != null and id != ''">and id=#{id,jdbcType=BIGINT}</if>
		<if test="objectId != null and objectId != ''">and object_id=#{objectId,jdbcType=VARCHAR}</if>
		<if test="code != null and code != ''">and code=#{code,jdbcType=VARCHAR}</if>
		<if test="name != null and name != ''">and name=#{name,jdbcType=VARCHAR}</if>
		<if test="parentTableId != null and parentTableId != ''">and parent_table_id=#{parentTableId,jdbcType=BIGINT}</if>
		<if test="childTableId != null and childTableId != ''">and child_table_id=#{childTableId,jdbcType=BIGINT}</if>
		<if test="implType != null and implType != ''">and impl_type=#{implType,jdbcType=VARCHAR}</if>
		<if test="creationDate != null and creationDate != ''">and creation_date=#{creationDate,jdbcType=BIGINT}</if>
		<if test="modificationDate != null and modificationDate != ''">and modification_date=#{modificationDate,jdbcType=BIGINT}</if>
		<if test="version != null and version != ''">and version=#{version,jdbcType=BIGINT}</if>
		<if test="createTime != null and createTime != ''">and create_time=#{createTime,jdbcType=DATETIME}</if>
		<if test="modifyTime != null and modifyTime != ''">and modify_time=#{modifyTime,jdbcType=DATETIME}</if>
		<if test="comment != null and comment != ''">and comment=#{comment,jdbcType=VARCHAR}</if>
		###########################################
		### **set fields example**
		###########################################
		<if test="id != null and id != ''">,id=#{id,jdbcType=BIGINT}</if>
		<if test="objectId != null and objectId != ''">,object_id=#{objectId,jdbcType=VARCHAR}</if>
		<if test="code != null and code != ''">,code=#{code,jdbcType=VARCHAR}</if>
		<if test="name != null and name != ''">,name=#{name,jdbcType=VARCHAR}</if>
		<if test="parentTableId != null and parentTableId != ''">,parent_table_id=#{parentTableId,jdbcType=BIGINT}</if>
		<if test="childTableId != null and childTableId != ''">,child_table_id=#{childTableId,jdbcType=BIGINT}</if>
		<if test="implType != null and implType != ''">,impl_type=#{implType,jdbcType=VARCHAR}</if>
		<if test="creationDate != null and creationDate != ''">,creation_date=#{creationDate,jdbcType=BIGINT}</if>
		<if test="modificationDate != null and modificationDate != ''">,modification_date=#{modificationDate,jdbcType=BIGINT}</if>
		<if test="version != null and version != ''">,version=#{version,jdbcType=BIGINT}</if>
		<if test="createTime != null and createTime != ''">,create_time=#{createTime,jdbcType=DATETIME}</if>
		<if test="modifyTime != null and modifyTime != ''">,modify_time=#{modifyTime,jdbcType=DATETIME}</if>
		<if test="comment != null and comment != ''">,comment=#{comment,jdbcType=VARCHAR}</if>
		###########################################
		### **insert fields example**
		###########################################
		<if test="id != null and id != ''">,id</if>
		<if test="objectId != null and objectId != ''">,object_id</if>
		<if test="code != null and code != ''">,code</if>
		<if test="name != null and name != ''">,name</if>
		<if test="parentTableId != null and parentTableId != ''">,parent_table_id</if>
		<if test="childTableId != null and childTableId != ''">,child_table_id</if>
		<if test="implType != null and implType != ''">,impl_type</if>
		<if test="creationDate != null and creationDate != ''">,creation_date</if>
		<if test="modificationDate != null and modificationDate != ''">,modification_date</if>
		<if test="version != null and version != ''">,version</if>
		<if test="createTime != null and createTime != ''">,create_time</if>
		<if test="modifyTime != null and modifyTime != ''">,modify_time</if>
		<if test="comment != null and comment != ''">,comment</if>
		###########################################
		### **insert values criteria example**
		###########################################	
		<if test="id != null and id != ''">,#{id,jdbcType=BIGINT}</if>
		<if test="objectId != null and objectId != ''">,#{objectId,jdbcType=VARCHAR}</if>
		<if test="code != null and code != ''">,#{code,jdbcType=VARCHAR}</if>
		<if test="name != null and name != ''">,#{name,jdbcType=VARCHAR}</if>
		<if test="parentTableId != null and parentTableId != ''">,#{parentTableId,jdbcType=BIGINT}</if>
		<if test="childTableId != null and childTableId != ''">,#{childTableId,jdbcType=BIGINT}</if>
		<if test="implType != null and implType != ''">,#{implType,jdbcType=VARCHAR}</if>
		<if test="creationDate != null and creationDate != ''">,#{creationDate,jdbcType=BIGINT}</if>
		<if test="modificationDate != null and modificationDate != ''">,#{modificationDate,jdbcType=BIGINT}</if>
		<if test="version != null and version != ''">,#{version,jdbcType=BIGINT}</if>
		<if test="createTime != null and createTime != ''">,#{createTime,jdbcType=DATETIME}</if>
		<if test="modifyTime != null and modifyTime != ''">,#{modifyTime,jdbcType=DATETIME}</if>
		<if test="comment != null and comment != ''">,#{comment,jdbcType=VARCHAR}</if>
		###########################################
		### **sql example**
		###########################################	
	<insert id="save" parameterMap="tableReference">
		<selectKey keyProperty="generatedKey" resultType="Long">
			select LAST_INSERT_ID() as generatedKey   
		</selectKey>
	</insert>
	
	<update id="updateById" parameterMap="tableReference">
		<include refid="tableReference_update"/>
		<include refid="tableReference_update_set"/>
		<include refid="tableReference_update_where_id"/>
	</update>

	<delete id="removeCriteria" parameterMap="tableReference">
		<include refid="tableReference_delete"/>
		<include refid="tableReference_update_where"/>
	</delete>
	
	<delete id="removeById" parameterType="java.lang.Long">
		<include refid="tableReference_delete"/>
		<include refid="tableReference_update_where_id"/>
	</delete>
	
	<select id="listCriteria" resultMap="tableReference" parameterMap="tableReference" useCache="true">
		<include refid="tableReference_select"/>
		<include refid="tableReference_select_fields"/>
		<include refid="tableReference_form"/>
		<include refid="tableReference_where"/>
		<include refid="tableReference_order"/>
		<include refid="tableReference_group"/>
	</select>
	
	<select id="getOneById" resultMap="tableReference" parameterType="java.lang.Long" useCache="true">
		<include refid="tableReference_select"/>
		<include refid="tableReference_select_fields"/>
		<include refid="tableReference_form"/>
		<include refid="tableReference_where_id"/>
	</select>		
	-->
</mapper>